<div>
  <div class="todo-menu">
    <button type="button" class="btn btn-warning" ui-sref="home">Todos</button>
    <button type="button" class="btn btn-danger sign-out" ng-click="signOut()">
      Sign Out
    </button>
  </div>
  <ul class="list-group todo-list">
    <li class="list-group-item todo-item" ng-repeat="doneTodo in doneTodos">
      {{ doneTodo.content }}
      <span class="completed-at">
        Completed on: {{ doneTodo.completedAt | date: 'medium' }}
      </span>
      <button class="btn btn-sm pull-right btn-success" ng-click="undo($index)">
        Undo
      </button>
    </li>
  </ul>
</div>
