<section class="form-page">
  <div class="form">
    <h3>Sign up</h3>
    <form>
      <label>
        <div>Name</div>
        <input type="text" ng-model="user.name">
      </label>
      <label>
        <div>Username</div>
        <input type="text" ng-model="user.username">
      </label>
      <label>
        <div>Password</div>
        <input type="password" ng-model="user.password">
      </label>
      <button ng-click="signUp()">Sign up</button>
      <div>or</div>
      <button ui-sref="home">Sign in</button>
    </form>
  </div>
</section>
