<div>
  <div class="todo-menu">
    <button type="button" class="btn btn-warning" ui-sref="done">
      Go to completed list
    </button>
    <button type="button" class="btn btn-danger sign-out"
    ng-click="signOut()">
      Sign Out
    </button>
  </div>
  <form class="todo-form">
    <label for="todo-input" class="sr-only">Todo</label>
    <input id="todo-input" type="text" class="form-control" placeholder="Todo"
    required ng-model="newTodo.content">
    <button class="btn btn-primary" ng-click="addTodo()">Add Todo</button>
  </form>
  <ul class="list-group todo-list">
    <li class="list-group-item todo-item" ng-repeat="todo in todos">
      {{ todo.content }}
      <button class="btn btn-sm pull-right btn-success"
      ng-click="completeTodo($index)">
        Done
      </button>
    </li>
  </ul>
</div>
